form{
  background-color: bisque;
}

section {
  margin-bottom: 0;
  height: 245px;
  text-align: center;
  position: inherit;
  border: solid black;
  background-color: rgb(174, 174, 185); 
}